# Dépendances
node_modules/

# Environnement (TES SECRETS !)
.env
*.env.local

# Compilation TypeScript
dist/
out/

# Bases de données locales (si tu utilises SQLite)
*.db
*.sqlite

# Logs et divers
npm-debug.log*
.DS_Store